@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: "SFProDisplayRegular";
    src: url("./assets/fonts/SFPRODISPLAYREGULAR.OTF");
  }
  
@font-face {
  font-family: 'SFProDisplayBold';
  src: local('SFPRODISPLAYBOLD'),
        url('./assets/fonts/SFPRODISPLAYBOLD.OTF');
}

p, span, a {
  font-family: SFProDisplayRegular;
}
  
h1, h2, h3, h4, h5, h6 {
  font-family: SFProDisplayBold;
}

input[type="text"], input[type="textarea"],
input[type="password"], input[type="email"],
input[type="number"], input[type="tel"],
textarea{
    @apply w-full border my-1 py-2 px-3 rounded-2xl;
}